#map{
    left: 40px;
    right: 40px;
    top: 109px;
    bottom: 40px;
    #BDMap{
    //    left: 308px;
       right: 0px;
       height: 100%;
       margin-left: 310px;
    }
    #r-result{
        width:300px;
        height: 100%;
        float: left;
        overflow: auto;
    }
}